<div class="row p-3 m-3">
  <div class="col-lg-12 m-1">
    <div class="row">
      <div class="col">
        <div class="" id="result">
          <div class="row p-4 match">
            <div class="col match-club">
              <div class="match-summary pb-3">
                <%= image_tag 'kreko.png', class: "image-player" %>
              </div>
              <h3 class="match-summary club-name"> Club 1 </h3>
              <p class="match-summary club-league-name"> League </p>
            </div>

             <div class="col match-club">
               <div class="match-summary pb-3">
                 <%= image_tag 'pendzo.jpg', class: 'image-player' %>
               </div>
               <h3 class="match-summary club-name"> Club 1 </h3>
               <p class="match-summary club-league-name"> League </p>
             </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-4 mt-4 match">
      <!-- <div class="col">
        <%= tag.button class: "btn btn-success", onclick: "handle_submit()" do %>
          Generate random from selected leagues
        <% end %>
      </div> -->
      <div class="col text-center">
        <%= form_with url: randomizer_index_path, method: :post, remote: true do |f| %>
         <%= f.hidden_field :random_type, value: 'four_big_clubs' %>
         <%= f.submit 'Generate random from 4 big leagues', class: 'btn btn-success' %>
        <% end %>
      </div>
      <div class="col text-center" id="random-leagues-selector" >
        <%= form_with url: randomizer_index_path, method: :post, remote: true do |f| %>
         <%= f.hidden_field :league_ids, id: 'league_ids_field', value: @random_leagues.pluck(:id).join(',') %>
         <%= f.hidden_field :random_type, value: 'random_leagues' %>
         <%= f.submit 'Generate random from 4 random leagues', class: 'btn btn-success' %>
        <% end %>
        <p class='mt-1'> Current Random Leagues are <%= @random_leagues.pluck(:name).join(',') %> </p>
      </div>
    </div>
    <!-- <div class="row">
      <div class='col button-box' style="position:relative">
        <%= tag.button class: "big-red-button", onclick: "handle_submit()" do %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class='col text-center' style="position:relative">
        <h3 class="press-the-button"> Press the big ass red button </h3>
      </div>
    </div> -->
  </div>


  <!-- <div class="col-lg-3 m-1">
    <%= form_with url: randomizer_index_path, method: :post, remote: true, id: "myform" do |f| %>
     <%= f.hidden_field :league_ids, id: 'league_ids_field'%>
    <% end %>


    <ul class="list-group">
      <% League.all.select(:id, :name).each do |league| %>
        <%= tag.li class: "list-group-item team-option", onclick: "handle_event(event);", data: { league_id: league.id } do %>
          <%= league.name %>
        <% end %>
      <% end %>
    </ul>
  </div> -->

</div>

<div class="row p-3 m-3">
  <div class="col">
    <div class="" id="dynamic-match-logger"></div>


  </div>
</div>

<div class="row p-3 m-3">
  <div class="col">
    <div class="card">
      <div class="card-body text-center">

        <h1> KREKO <span class="small-text"> <%= " #{@kreko_won} : #{@pendzo_won} " %></span> PENDZO </h1>
      </div>
    </div>
  </div>
</div>

<div class="row p-3 m-3">
  <div class="col">
    <div class="" id="all_results"></div>
    <table class='table table-light'>
      <tr>
        <th> Num of game </th>
        <th> Home Team </th>
        <th> Away Team </th>
        <th> Home Score </th>
        <th> Away Score </th>
        <th> Date Logged </th>
      </tr>
      <% @matches.each_with_index do |m, index| %>
        <%= content_tag :tr, class: resolve_class(m) do %>
          <td>  <%= index+1 %></td>
          <td>  <%= m.home_club.name %> </td>
          <td>  <%= m.away_club.name %> </td>
          <td>  <%= m.home_result %> </td>
          <td>  <%= m.away_result %></td>
          <td>  <%= m.created_at.in_time_zone('Europe/Sarajevo').strftime("%d/%m/%y %H:%M") %></td>
        <% end %>
      <% end %>
  </div>
</div>


<%= javascript_tag do %>
  function handle_event(event) {
    var target = event.target;
    target.classList.toggle('active');
  }

  function handle_submit() {
    var elements = $(".active").toArray().map(x => x.dataset.leagueId);
    if (elements.length == 0) {
      window.alert("Brah select something pls");
      return
    }
    document.getElementById("league_ids_field").value = elements
    form = document.querySelector('#myform');
    Rails.fire(form, 'submit');
  }
<% end %>
