<div class="row p-3 m-3">
  <div class="col-lg-9">
    <div class="row">
      <div class="col">
        <div class="" id="result">
          <div class="row p-4 match">
            <div class="col match-club">
              <div class="match-summary pb-3">
                <%= image_tag 'kreko.png', class: "image-player" %>
              </div>
              <h3 class="match-summary club-name"> Club 1 </h3>
              <p class="match-summary club-league-name"> League </p>
            </div>

             <div class="col match-club">
               <div class="match-summary pb-3">
                 <%= image_tag 'pendzo.jpg', class: 'image-player' %>
               </div>
               <h3 class="match-summary club-name"> Club 1 </h3>
               <p class="match-summary club-league-name"> League </p>
             </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col button-box' style="position:relative">
        <%= tag.button class: "big-red-button", onclick: "handle_submit()" do %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class='col text-center' style="position:relative">
        <h3 class="press-the-button"> Press the big ass red button </h3>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <%= form_with url: randomizer_index_path, method: :post, remote: true, id: "myform" do |f| %>
     <%= f.hidden_field :league_ids, id: 'league_ids_field'%>
    <% end %>


    <ul class="list-group">
      <% League.all.select(:id, :name).each do |league| %>
        <%= tag.li class: "list-group-item team-option", onclick: "handle_event(event);", data: { league_id: league.id } do %>
          <%= league.name %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

  <div class="row">
    <div class="col-lg-6">
      <%= form_with url: randomizer_index_path, method: :post, remote: true, id: "myform2" do |f| %>
       <%= f.hidden_field :league_ids, id: 'league_ids_field', value: '4,8,10,15'%>
       <%= f.submit '4 VELIKE LIGE' %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <%= @random_leagues.pluck(:name).join(" ,") %>
      <%= form_with url: randomizer_index_path, method: :post, remote: true, id: "myform3" do |f| %>
       <%= f.hidden_field :league_ids, id: 'league_ids_field', value: @random_leagues.map { |rl| rl.id }.join(",") %>
       <%= f.submit '3 RANDOM LIGE' %>
      <% end %>
    </div>

  </div>



<%= javascript_tag do %>
  function handle_event(event) {
    var target = event.target;
    target.classList.toggle('active');
  }

  function handle_submit() {
    var elements = $(".active").toArray().map(x => x.dataset.leagueId);
    if (elements.length == 0) {
      window.alert("Brah select something pls");
      return
    }
    document.getElementById("league_ids_field").value = elements
    form = document.querySelector('#myform');
    Rails.fire(form, 'submit');
  }
<% end %>
